.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem .5rem;
    border-radius: 1rem;
    background-color: #49d0b0;

    /* text-align: center; */
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;

}

.pokemon .name {
    color: #fff;
    margin-bottom: 0.25rem;
}

.pokemon .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.pokemon .description img {
    max-width: 100%;
    height: 80px;
}

.pokemon .description .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .description .types .type {
    background-color:#61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

@media screen and (min-width:380px){
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:576px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:992px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

  /*

Bug          #94bc4a
Dark         #736c75
Dragon       #6a7baf
Electric     #e5c531
Fairy        #e397d1
Fighting     #cb5f48
Fire         #ea7a3c
Flying       #7da6de
Ghost        #846ab6
Grass        #71c558
Ground       #cc9f4f
Ice          #70cbd4
Normal       #aab09f
Poison       #b468b7
Psychic      #e5709b
Rock         #b2a061
Steel        #89a1b0
Water        #539ae2

*/